.page1 {
    background-color: bisque;
    
}

.page2{
    background-color:thistle;
}

td,
th,
.table {
    background-color: beige;
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.table2 {
    border: 1px solid;
    padding: 10px;
    text-align: left;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

updateform {
    align-content: center;
    padding: 10px;
    text-align: center;
    border: 1px solid;
}

input{
    width: 50%;
}


h2{
    text-align: center;
}
